/* Add here all your css styles (customizations) */
.bg-white{
	background: #fff;
}

.shadow-effect-6 {
  box-shadow: 1px 1px 16px #bbb !important;
}

.right{float: right;}
.left{float: left;}

li.li-right{float: right;}
li.li-left{float: left;}

.image-ssm{width: 35px;}

.margin-top-5  { margin-top:5px !important;}
.margin-top-10 { margin-top:10px !important;}
.margin-top-15 { margin-top:15px !important;}
.margin-top-20 { margin-top:20px !important;}
.margin-top-25 { margin-top:25px !important;}
.margin-top-30 { margin-top:30px !important;}
.margin-top-35 { margin-top:35px !important;}
.margin-top-40 { margin-top:40px !important;}
.margin-top-45 { margin-top:45px !important;}
.margin-top-50 { margin-top:50px !important;}
.margin-top-55 { margin-top:55px !important;}
.margin-top-60 { margin-top:60px !important;}
.margin-top-70 { margin-top:70px !important;}
.margin-top-80 { margin-top:80px !important;}
.margin-top-90 { margin-top:90px !important;}
.margin-top-100 { margin-top:100px !important;}

.margin-left-5  { margin-left:5px !important;}
.margin-left-10 { margin-left:10px !important;}
.margin-left-15 { margin-left:15px !important;}
.margin-left-20 { margin-left:20px !important;}
.margin-left-25 { margin-left:25px !important;}
.margin-left-30 { margin-left:30px !important;}
.margin-left-35 { margin-left:35px !important;}
.margin-left-40 { margin-left:40px !important;}
.margin-left-45 { margin-left:45px !important;}
.margin-left-50 { margin-left:50px !important;}
.margin-left-55 { margin-left:55px !important;}
.margin-left-60 { margin-left:60px !important;}
.margin-left-70 { margin-left:70px !important;}
.margin-left-80 { margin-left:80px !important;}
.margin-left-90 { margin-left:90px !important;}
.margin-left-100 { margin-left:100px !important;}

.margin-right-5  { margin-right:5px !important;}
.margin-right-10 { margin-right:10px !important;}
.margin-right-15 { margin-right:15px !important;}
.margin-right-20 { margin-right:20px !important;}
.margin-right-25 { margin-right:25px !important;}
.margin-right-30 { margin-right:30px !important;}
.margin-right-35 { margin-right:35px !important;}
.margin-right-40 { margin-right:40px !important;}
.margin-right-45 { margin-right:45px !important;}
.margin-right-50 { margin-right:50px !important;}
.margin-right-55 { margin-right:55px !important;}
.margin-right-60 { margin-right:60px !important;}
.margin-right-70 { margin-right:70px !important;}
.margin-right-80 { margin-right:80px !important;}
.margin-right-90 { margin-right:90px !important;}
.margin-right-100 { margin-right:100px !important;}

.height-100{height: 100px;}
.height-125{height: 125px;}
.height-150{height: 150px;}
.height-175{height: 175px;}
.height-200{height: 200px;}

.panel-footer{
	background: #fff;
	color: #95a5a6;
}

.bg-color-darkgrey{
	color: #fff;
	background: #455a64;
}

/*Grey Backroud*/
.bg-darkgrey {
	background: #ECEFF1;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}


/*Login Page*/
.container.reg-block{
	/*margin-top: 150px;*/
	background: rgba(255,255,255, 0.5) !important;
}

.head{
	background: #1e88e5;
	height: 70px;
	margin-top: -95px;
}

.head-container{
	margin-top: 20px;
}

.head-container .back a{
	padding-right: 0px;
}

.head-title h3{
	padding-left: 0px;
	color: #fff;
	margin-top: -4px;
	font-family: "Roboto",sans-serif;
}