/*
 * Title:   Custom Style File
 * Author:  http://themeforest.net/user/soaptheme 
 */
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
@media (min-width: 768px) { 
    .search-box-wrapper{
        background: rgba(127, 219, 249, 0.7);
        margin-top: -233px;
        z-index: 100;
        position: relative;
        /*color: #fff;*/
    }
    .search-box-wrapper label{
        color: #fff;
        font-weight: bold;
        font-size: 1em;
    }
    .search-box-wrapper input.input-text, textarea, span.custom-select{
        color: darkcyan !important;
    }
}
.search-box-wrapper-2{
    background: rgba(255, 255, 255, 0.85);
    padding-top: 40px;
    padding-bottom: 20px;
}

/*.monthpicker-wrap .ui-datepicker-trigger {
    left: 0;
    right: auto;
}

.monthpicker-wrap:after {
    left: 0;
    right: auto;
}*/

/*.search-box-wrapper-2 .monthpicker-wrap:after {
  background: transparent;
  color: #d1d1d1;
}*/

.bornpicker-wrap {
  position: relative;
}
.bornpicker-wrap .ui-datepicker-trigger {
  width: 30px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: transparent;
  z-index: 1;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.bornpicker-wrap:after {
  display: block;
  font-family: "soap-icons";
  content: "\e86a";
  font-size: 25px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 100%;
  text-align: center;
  line-height: 34px;
  background: #fdb714;
}
.bornpicker-wrap.yellow:after {
  background: #fdb714;
}
.bornpicker-wrap.green:after {
  background: #98ce44;
}
.bornpicker-wrap.blue:after {
  background-color: #01b7f2;
}
.bornpicker-wrap.dark-blue:after {
  background-color: #2d3e52;
}
.bornpicker-wrap.transparent:after {
  background-color: transparent;
  color: #01b7f2;
}

.ui-bornpicker select.ui-datepicker-month, 
.ui-bornpicker select.ui-datepicker-year{
    width: 34%;
    color: lightblue;
}

.monthpicker-wrap {
  position: relative;
}
.monthpicker-wrap .ui-datepicker-trigger {
  width: 30px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: transparent;
  z-index: 1;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.monthpicker-wrap:after {
  display: block;
  font-family: "soap-icons";
  content: "\e86a";
  font-size: 25px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 100%;
  text-align: center;
  line-height: 34px;
  background: #01b7f2;
}
.monthpicker-wrap.yellow:after {
  background: #fdb714;
}
.monthpicker-wrap.green:after {
  background: #98ce44;
}
.monthpicker-wrap.blue:after {
  background-color: #01b7f2;
}
.monthpicker-wrap.dark-blue:after {
  background-color: #2d3e52;
}
.monthpicker-wrap.transparent:after {
  background-color: transparent;
  color: #01b7f2;
}

.ui-monthpicker .ui-datepicker-calendar {
    display: none;
}

.ui-monthpicker select.ui-datepicker-month, 
.ui-monthpicker select.ui-datepicker-year{
    width: 34%;
    color: lightblue;
}

.text.darkgrey{
    color:darkgrey;
}
.text.white{
    color:white !important;
}
.text.orangered{
    color:orangered !important;
}
.text.green{
    color: #7db921 !important;
}
.text.blue-sky{
    color: #01b7f2 !important;
}
.text.red{
    color: #e44049 !important;
}
.text.blue-sea{
    color: #0ab596 !important;
}

.bg.grey{
    background-color: grey;
}
.bg.lightgrey{
    background-color: lightgrey;
}
.bg.ghostwhite{
    background-color: ghostwhite;
}
.bg.orange-dark{
    background-color: #ff3e3e !important;
}
.bg.yellow{
    background-color: #fdb714 !important;
}
.bg.red{
    background-color: #e44049 !important;
}
.bg.blue-sky{
    background-color: #01b7f2 !important;
}
.bg.blue-sea{
    background-color: #0ab596 !important;
}
.bg.blue-dark{
    background-color: #194eb0 !important;
}

.margin-top-10{
    margin-top: 10px !important;
}
.margin-bottom-10{
    margin-bottom: 10px !important;
}

.room-panel{
    margin-bottom: 0px;
}
.room-panel.travelo-box.book-with-us-box li{
    border-bottom: 1px solid #efecec;
    padding: 10px 0px;
}
.room-panel.travelo-box.book-with-us-box li:last-child{
    border-bottom-width: 0;
    padding-bottom: 0;
}
.room-panel .price{
    margin-bottom: 5px;
}

.handling-table{
    margin-bottom: 20px;
}
.handling-table tr > th,
.handling-table tr > td{
    padding: 5px;
}

.flex-viewport{
    max-height: 500px !important; 
}

.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.flight-info{
    border-bottom: none !important;
    /*padding: 5px;*/
}
.flight-info .bordered-right{
    border-right: dotted 1px #f5f5f5;
}
.flight-info div img{
    padding: 0 10px !important;
}
.flight-info div div .city{
    font-size: 16px;
    font-weight: bold;
    color: #2d3e52;
}
.flight-info div div .airport{
    font-size: 14px;
    color: #2d3e52;
}

input.input-text, select, textarea, span.custom-select{
    background: #fff; 
    /*border: #838383 1px solid;*/
    border: #f5f5f5 1px solid;
    line-height: normal;
}
.ui-datepicker .ui-datepicker-header {
      position: relative;
      padding: .2em 0;
      background: #2d3e52;
  }
  .ui-datepicker th span {
      display: block;
      text-align: center;
      font-size: 1.1667em;
      font-weight: normal;
      color: #2d3e52;
  }
  .ui-datepicker {
      width: 20em;
      padding: 0;
      display: none;
      background: #fff;
      border: 1px solid #2D3E51;
      z-index: 101 !important;
  }
  .ui-bornpicker select.ui-datepicker-month, .ui-bornpicker select.ui-datepicker-year {
      width: 34%;
      color: #2d3e52;
  }
  .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day a, .ui-datepicker .ui-datepicker-calendar td a:hover {
      background: #2d3e52;
      color: #fff;
  }
  span.twitter-typeahead .tt-menu,
  span.twitter-typeahead .tt-dropdown-menu {
    cursor: pointer;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    /*min-width: 160px;*/
    width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
  }
  span.twitter-typeahead .tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
  }
  span.twitter-typeahead .tt-suggestion.tt-cursor,
  span.twitter-typeahead .tt-suggestion:hover,
  span.twitter-typeahead .tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7;
  }
  .input-group.input-group-lg span.twitter-typeahead .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
  .input-group.input-group-sm span.twitter-typeahead .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  span.twitter-typeahead {
    width: 100%;
  }
  .input-group span.twitter-typeahead {
    display: block !important;
    height: 34px;
  }
  .input-group span.twitter-typeahead .tt-menu,
  .input-group span.twitter-typeahead .tt-dropdown-menu {
    top: 32px !important;
  }
  .input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
    border-radius: 0;
  }
  .input-group span.twitter-typeahead:first-child .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .input-group span.twitter-typeahead:last-child .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .input-group.input-group-sm span.twitter-typeahead {
    height: 30px;
  }
  .input-group.input-group-sm span.twitter-typeahead .tt-menu,
  .input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 30px !important;
  }
  .input-group.input-group-lg span.twitter-typeahead {
    height: 46px;
  }
  .input-group.input-group-lg span.twitter-typeahead .tt-menu,
  .input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 46px !important;
  }